:root {
  --main-height: 100%;
  --padding-body: 10px;
  --aside-width--collapsed: 68px;
  --aside-width--showed: 350px;
  --header-height: 64px;
  --v-border-opacity: 1;
}

:root .v-theme--light {
  --v-theme-surface: 255, 255, 255;
  --v-theme-surface-rgba: 255, 255, 255;
  --v-theme-background: 245 245 245;
  --v-theme-on-background: 66 66 66;
  --v-theme-surface-variant: 230 230 230;
  --v-theme-surface-bright: 240 240 240;
  --v-theme-primary: 25 118 210;
  --v-theme-on-surface: 66, 66, 66;
}

:root .v-theme--dark {
  --v-theme-surface: 37, 38, 44;
  --v-theme-surface-rgba: 37, 38, 44;
  --v-theme-background: 26 27 32;
  --v-theme-on-background: 221 221 221;
  --v-theme-surface-variant: 37 38 44;
  --v-theme-surface-bright: 180 180 180;
  --v-theme-primary: 66 133 186;
  --v-theme-on-surface: 221, 221, 221;
  --v-theme-on-primary: 33 33 33;
  --v-theme-on-surface-variant: 221 221 221;
}

.v-field {
  border-radius: 10px;
}

.v-overlay__content {
  contain: none;
}

.modal-close {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 10vw;
  max-width: 80px;
  min-width: 24px;
  height: 10vw;
  max-height: 80px;
  min-height: 24px;
  background-color: hsl(240deg 2.2% 30.69%);
  pointer-events: none;
  transition: background-color 0.5s ease;

  animation: modalCloseAppear .5s ease-out forwards;

  .v-icon {
    opacity: .8;
    transition: opacity 0.2s ease;
  }
}

.v-overlay__scrim:hover + .v-overlay__content .modal-close {
  background-color: hsl(240deg 2.2% 28.69%);

  .v-icon {
    opacity: 1;
  }
}

.text-white {
  color: inherit !important;
}

.v-expansion-panel * {
  color: rgb(var(--v-theme-on-surface));
}

.v-card-text .v-switch__track {
  background-color: rgb(var(--v-theme-on-surface));
}

.think-preview + .content {
  margin-top: 10px;
}


/* Transition styles */

@keyframes modalCloseAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.slide-fade-enter-active {
  opacity: 1;
  transition: opacity .4s ease-out;
}

.slide-fade-leave-active {
  opacity: 0;
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
}
